
        div.box {
            margin:0 auto;
			width:500px;
			background: silver;
			position:relative;
			top:50px;
		}		

		label {
			width:100%;
			display: block;        
			padding:10px 0 10px 0;
		}
 
		label span {
			display: inline-block;
		}
        
        
}
